<link rel="import" href="../../lodash-import/lodash-import.html">
<link rel="import" href="../../ramda-import/ramda-import.html">
<link rel="import" href="pattern-script.html">
<link rel="import" href="tokenize.html">
<link rel="import" href="ast2js.html">
<link rel="import" href="is-literal.html">
<link rel="import" href="word2js.html">

<script>
	window.addEventListener('WebComponentsReady', function () {
		PatternScript.ps2js = function (cs) {
			// split into lines
			var lines = cs.match(/[^\r\n]+/g);

			var encaseRootInBraces = function (astString) {
				// remove spaces from strings to check if we need to encase in brackets
				var astWithoutStrings = astString.replace(/"[^"]*"/g, '').replace(/'[^']*'/g, '');

				var isUnencapsulatedAst = R.reduce(function (acc, character, index) {
					if (character === "(") {
						return _.merge({
							astLevel: acc.astLevel + 1
						}, acc);
					} else if (character === ")") {
						return _.merge({
							astLevel: acc.astLevel - 1,
							isUnencapsulatedAst: ((acc.astLevel === 1) && (index !== astWithoutStrings.length - 1)) ? true : undefined
						}, acc);
					} else {
						return acc;
					}
				}, {
					astLevel: 0
				}, astWithoutStrings.split("")).isUnencapsulatedAst;

				// if multiple components (ie. contains spaces) and not bounded by braces or quotes, add braces
				if (isUnencapsulatedAst ||
					((astWithoutStrings.indexOf(" ") !== -1) && ((astWithoutStrings[0] !== "(") || (astWithoutStrings.slice(-1) !== ")")))) {
					return "(" + astString + ")";
				} else {
					return astString;
				}
			};

			var extractComponents = function (term) {
				if (_.isArray(term.expression)) {
					return R.map(extractComponents, term.expression);
				} else {
					return term.expression;
				}
			};

			var getSignatureComponents = function (signature) {
				var parts = extractComponents(PatternScript.tokenize({
					characterArray: signature.split("")
				})[0]); //_.compact(signature.split(/[ \(\)]/));
				var isThunk = _.isString(parts);

				return {
					name: isThunk ? parts : parts[0],
					parameters: isThunk ? [] : parts.slice(1)
				};
			};

			// split each line into name and expression
			var equations = R.reduce(function (acc, line) {
				var sides = line.split(/\s=\s/g);

				if (sides.length === 1) {
					return undefined;
				}

				var signatureComponents = getSignatureComponents(encaseRootInBraces(sides[0].trim()));
				var lisp = encaseRootInBraces(sides[1].trim());
				var name = signatureComponents.name;
				var parameters = signatureComponents.parameters;
				var localDefinitions = (acc.length === 0) ? [name] : R.uniq(R.concat(R.last(acc).localDefinitions, [name]));
				var passedParameters = R.reject(function (parameter) {
					// not a literal, externally namespaced function, internal patternscript function, local definition, or wildcard
					return PatternScript.isLiteral(parameter) || (parameter.indexOf(".") !== -1) || (PatternScript.word2js(parameter) !== parameter) || R.contains(parameter, localDefinitions) || (parameter === "_"); // TODO: include wildcards for now in case of guard expression
				}, R.flatten(parameters));

				return R.concat(acc, [{
					name: name,
					parameters: parameters,
					expression: extractComponents(PatternScript.tokenize({
						characterArray: lisp.split("")
					})[0]),
					preWhitespace: sides[0].split(/[\w\(]/g)[0],
					localDefinitions: localDefinitions,
					passedParameters: passedParameters
				}]);
			}, [], lines);

			var patternMatchers = R.reduce(function (acc, equation) {
				var noOfHits = R.filter(function (value) { return value === equation.name; }, equation.localDefinitions).length;
				var isMultipleDefinitions = noOfHits > 1;
				var hasPatternMatchedParameters = R.any(function (parameter) {
					return PatternScript.isLiteral(parameter) || (parameter === "_") || _.isArray(parameter);
				}, equation.parameters);
				var patternMatched = isMultipleDefinitions || hasPatternMatchedParameters;

				return patternMatched ? R.uniq(R.concat(acc, [equation.name])) : acc;
			}, [], equations);

			var definitions = R.uniq(R.map(function (equation) {
				return equation.name;
			}, equations));

			var patternMatchIndices = R.zipObj(patternMatchers, R.repeat(0, patternMatchers.length));

			// run through equations, and tag pattern matches with - pattern: <0-based index of pattern>
			var processedEquations = R.reduce(function (acc, equation) {
				if (!R.contains(equation.name, patternMatchers)) {
					return {
						equations: R.concat(acc.equations, [equation]),
						patternMatchIndices: acc.patternMatchIndices
					};
				} else { // pattern matcher
					var currentPatternMatchIndex = acc.patternMatchIndices[equation.name];

					return {
						equations: R.concat(acc.equations, [_.merge(equation, {
							patternMatchIndex: currentPatternMatchIndex
						}, {})]),
						patternMatchIndices: _.merge(R.zipObj([equation.name], [currentPatternMatchIndex + 1]), acc.patternMatchIndices, {})
					};
				}
			}, {
				equations: [],
				patternMatchIndices: patternMatchIndices
			}, equations);

			equations = processedEquations.equations;
			patternMatchIndices = processedEquations.patternMatchIndices;

			var dependencies = R.reject(function (dependency) {
				return R.contains(dependency, ["Math", "console", "Array", "Function", "R", "matches", "_", "cs_reduce"]);
			}, R.uniq(R.reduce(function (acc, equation) {
				var definitionsAndParameters = R.concat(equation.localDefinitions, equation.passedParameters);
				var terms = R.flatten(R.concat(equation.parameters, equation.expression));

				return R.concat(acc, R.reduce(function (acc, term) {
					if (PatternScript.isLiteral(term) || R.contains(term, definitionsAndParameters) || (term === "_")) {
						return acc;
					} else if (PatternScript.word2js(term) !== term) { // internally defined js function
						return R.concat(acc, [PatternScript.word2js(term)]);
					} else if (term.indexOf(".") !== -1) {
						return R.concat(acc, [term.split(".")[0]]);
					} else {
						return R.concat(acc, [term]);
					}
				}, [], terms));
			}, [], equations)));

			var htmlSymbols = R.reduce(function (acc, bundleSymbols) {
				return acc.concat(R.reduce(function (acc, symbol) {
					if (symbol.indexOf("rvc!") === 0) {
						return acc.concat([symbol.slice(4)]);
					} else {
						return acc;
					}
				}, [], bundleSymbols));
			}, [], requirejs.s.contexts._.config.bundles).concat(R.map(R.head, R.filter(function (pair) {
				return pair[1].indexOf("html") !== -1;
			}, _.pairs(requirejs.s.contexts._.config.paths))));

			var requireBlock = R.map(function (symbol) {
				var isHtml = R.contains(symbol, htmlSymbols);

				return "require('" +
					(isHtml ? "rvc!" : "") +
					symbol +
					"')" +
					(isHtml ? "()" : "");
			}, dependencies).join(", ");

			var script = "(function(R, matches, _, cs_reduce" +
				(requireBlock ? ", " : "") +
				dependencies.join(", ") +
				") {\n" +
				R.map(function (equation) {
					var parameters = equation.parameters;
					var hasNamedParameters = parameters.length > 0;
					var name = equation.name;
					var expression = equation.expression;
					var isPatternMatched = equation.patternMatchIndex !== undefined;
					var isCurried = parameters.length > 1;
					var passedParameters = equation.passedParameters;
					var localDefinitions = equation.localDefinitions;
					var defined = R.concat(R.concat(passedParameters, localDefinitions), htmlSymbols);
					var jsExpression = PatternScript.ast2js(expression, defined);
					var isAst = passedParameters.length > 0;

					if (isAst || isPatternMatched) {
						jsExpression = "function(" + passedParameters.join(", ") + ") {return " + jsExpression + ";}";
					}

					if (isCurried && !isPatternMatched) {
						every
						jsExpression = "R.curry(" + jsExpression + ")";
					}

					if (isAst) {
						jsExpression = "(function() {var temp = " + jsExpression + "; temp.ast = true; return temp;})()";
					}

					var output = equation.patternMatchIndex ? "" : "var "; // not 0 or undefined
					output += name + " = ";
					if (isPatternMatched) {
						// guarded if parameters contains function (internal patternscript, externally namespaced function, or local definition)
						var isFunction = function (term) {
							return (term.indexOf(".") !== -1) || (PatternScript.word2js(term) !== term) || R.contains(term, localDefinitions);
						};

						var isGuarded = R.any(isFunction, R.flatten(equation.parameters));

						if (isGuarded) {
							var processParameters = function (parameter, argumentIndex) {
								if (_.isArray(parameter)) {
									return R.map(R.partial(processParameters, [_, argumentIndex]), parameter);
								} else {
									var index = (parameter === "_") ? argumentIndex : R.indexOf(parameter, passedParameters);

									return (index !== -1) ? ("args[" + index + "]") : parameter;
								}
							};

							jsExpression = "function(args) {return R.all(R.identity, cs_reduce(" + PatternScript.ast2js(parameters.map(processParameters), defined) + ")) ? args : false;}, " + jsExpression;
						} else {
							var getPatternString = function (pattern) {
								if (_.isArray(pattern)) {
									return "[" + R.map(getPatternString, pattern).join(", ") + "]";
								} else {
									return pattern;
								}
							};

							var patternString = getPatternString(parameters).slice(1, -1); // remove outer braces from pattern string

							jsExpression = "'" + patternString + "', " + jsExpression;
						}

						jsExpression = "(" + jsExpression + ")";

						if (equation.patternMatchIndex === 0) {
							jsExpression = "matches.pattern" + jsExpression;
						} else { // "alt"
							jsExpression = name + ".alt" + jsExpression;
						}

						// if it's the last pattern match, add currying statement if appropriate
						if (isCurried && (equation.patternMatchIndex === (patternMatchIndices[name] - 1))) {
							jsExpression = "R.curryN(" + parameters.length + ", " + jsExpression + ")";
						}
					}

					output += jsExpression + ";\n";

					return output;
				}, equations).join(" ") +
				"component.exports = {" +
				R.map(function (definition) {
					return definition + ": " + definition;
				}, definitions).join(", ") +
				"};})(require('ramda'), require('matches'), require('_'), require('cs_reduce')" +
				(requireBlock ? ", " : "") +
				requireBlock + ");";

			console.log(script);
			return script;
		};
	});
</script>