<link rel="import" href="pattern-script.html">
<link rel="import" href="is-literal.html">

<script>
	window.addEventListener('WebComponentsReady', function () {
		PatternScript.word2js = function (word) {
			if (PatternScript.isLiteral(word)) {
				return word;
			} else {
				switch (word) {
					case "if":
						return "cs_" + word;

					case "+": return "cs_plus";
					case "-": return "cs_minus";
					case "*": return "cs_multiply";
					case "/": return "cs_divide";
					case "===": return "cs_equals";
					case "<": return "cs_lessThan";
					case ">": return "cs_greaterThan";
					case "!=": return "cs_notEquals";
					case "<=": return "cs_lessThanOrEqualTo";
					case ">=": return "cs_greaterThanOrEqualTo";
					case "[]": return "cs_array";

					default: return word;
				}
			}
		};
	});
</script>