<link rel="import" href="../../ramda-import/ramda-import.html" />
<link rel="import" href="pattern-script.html">
<link rel="import" href="is-literal.html">
<link rel="import" href="array.html" />
<link rel="import" href="if.html" />
<link rel="import" href="plus.html" />
<link rel="import" href="dot.html" />
<link rel="import" href="object.html" />

<script>
		PatternScript.word2js = function (word) {
			if (PatternScript.isLiteral(word)) {
				return word;
			} else {
				switch (word) {
					case "if":
						return "PatternScript." + word;

					case "+"	: return "PatternScript.plus";
					case "-"	: return "R.subtract";
					case "*"	: return "R.multiply";
					case "/"	: return "R.divide";
					case "==="	: return "R.equals";
					case "<"	: return "R.lt";
					case ">"	: return "R.gt";
					case "!=="	: return "R.eqBy(R.not)";
					case "<="	: return "R.lte";
					case ">="	: return "R.gte";
					case "[]"	: return "PatternScript.array";
					case "{}"	: return "PatternScript.object";
					case "."	: return "PatternScript.dot";

					default: return word;
				}
			}
		};
</script>